.preview {
  position: absolute;
  width: var(--nodeSize);
  height: var(--nodeSize);
  border: 1px dashed #888;
  background: #0001;
}

.text {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
}
